*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}
html ,body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    z-index: 15;
    opacity: 0;
}
#page1{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

/* Style for NavBar  */

#nav{
    padding: 2vw 0;
    width: 100%;
    padding: 2vw 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-left{
    display: flex;
    align-items: center;
    gap: 1vw;
    
}
.nav-left h4{
    padding: 13px 22px;
    border: 1px solid #8a8a8a89;
    border-radius: 50px;
    font-weight: 500;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: all ease 0.4s;
}


.nav-left h4::after{
   content: "";
   width: 100%;
   height: 100%;
   position: absolute;
   background-color: #110303;
   left: 0;
   bottom: -100%;
   border-radius: 50%;
   transition: all ease 0.4s;
}
.nav-left h4:hover::after{
    bottom: 0;
    border-radius: 0;
}

.nav-left h4 a{
    text-decoration: none;
    color: #000;
    font-size: 25px;
    z-index: 10;   
    position: relative;
}
.nav-left h4:hover a{
    color: #fff;
}

#center{
    height: 65vh;
    width: 100%;
    
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 2.5vw;
    border-bottom: 1px solid black;
}
#center #left p{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 1.4vw;
    font-weight: 800;
}
#center #right h1{
    font-size: 8vw;
    line-height: 9vw;
    text-align: right;
}

#page1 video{
    position: relative;
  width: 100%;
  border-radius: 20px;
  margin-top: 4vw;
}

/* Colour Animation  */
#hero{
    position: absolute;
    width: 46vw;
    height: 36vw;
    background: linear-gradient(#FE320A,#fe780acb);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    right: 0;
    top: 65vh;
    filter: blur(25px);    
}
#hero1{
    position: absolute;
    width: 35vw;
    height: 35vw;
    border-radius: 50%;
    background: linear-gradient(#FE320A,#fe780acb);
    animation-name: anime;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#hero2{
    position: absolute;
    width: 35vw;
    height: 35vw;
    border-radius: 50%;
    background: linear-gradient(#FE320A,#fe780acb);
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#hero3{
    position: absolute;
    width: 35vw;
    height: 35vw;
    border-radius: 50%;
    background: linear-gradient(#FE320A,#fe780acb);
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime{
    from{
        transform: translate(-0%,-8%);
    }
    to{
        transform: translate(10%,10%);
    }
}
@keyframes anime1{
    from{
        transform: translate(-5%,-5%);
    }
    to{
        transform: translate(10%,10%);
    }
}
@keyframes anime2{
    from{
        transform: translate(-4%,-9%);
    }
    to{
        transform: translate(10%,10%);
    }
}

/* Page 2  */

/* Moving Text ✅✅ */
#page2{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 4vw 0;
    position: relative;
}
#moving-txt{
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    
  
}
#moving-txt::-webkit-scrollbar{
    display: none;
}
#group{
     white-space: nowrap;
     display: inline-block;
     animation-name: moving;
     animation-duration: 14s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
}
#moving-txt #group{
    white-space: nowrap;
    display: inline-block;
}
#group h1{
    display: inline-block;
    font-size: 9vw;
    color: #000;
}
#group #dot{
    width: 70px;
    height: 70px;
    border-radius: 50%; 
    display: inline-block;
    background-color: #FE320A;
    margin: 1vw 1.3vw;
}

@keyframes moving{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

/* Page 2 buttom text  */
#page2-bottom{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw;
    margin-top: 5vw;
    position: relative;
    z-index: 10;
}
#page2-bottom h1{
    font-size: 4vw;
    width: 55%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 4vw;
}

#page2-left{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#page2-left img{
    width: 18vw;
    border-radius: 10px;
    margin-bottom: 2vw;
}
#page2-left p{
    width: 18vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:500;
}

/* Colour Animation  */
.color-animation{
    width: 35vw;
    height: 35vw;
    position: absolute;
    border-radius: 50%;
    top: 55%;
    background: linear-gradient(to top,#FE320A,#f06f06d3);
    filter: blur(30px);
    left: 25%;
    animation-name: anime3;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;   
}


@keyframes anime3{
    from{
        transform: translate(7%,-11%) skew(0);
    }
    to{
        transform: translate(-5%,11%) skew(-12deg); 
    }
}
#heading2{
    position: relative;
    padding: 0 3vw;
    display: flex;
    align-items: center;
    gap: 15px;
    bottom: 1vh;
  
}
#heading2 #dot2{
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #FE320A;
}

/* PAGE 2 END  */


/* Page 3 start  */
#page3{
    width: 100%;
    min-height: 100vh;
    background-color: #EFEAE3;
    padding: 4;

}
#page3 .element{
    width: 100%;
    height: 150px;
    position: relative;
   border-bottom: 1px solid rgba(22, 21, 21, 0.397);
    z-index: 10;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.element .effect{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: rgb(255,152,49);
    top: -100%;
    transition: all ease-in-out .3s;

}
#page3 .element h1{
    font-size: 3vw;
    position: relative;
    display: inline-block;

}
#page3 .element:hover .effect{ 
    top: 0;
}
#page3 .element .def{
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: end;
}
#page3 .element .def h2{
    font-size: 20px;
    font-weight: 500;
}
#page3 .element .def p{
    font-weight: 500;
    color: #212120;
    font-size: 18px;
}

/* Hover video effect  */
#fixed-image{
    
    z-index: 20;
    width: 23vw;
    height: 60vh;
    border-radius: 12px;
    position: fixed;
    left: 50%;
    top: 32%;
    display: none;
    background-size: cover;
    background-position: cente;
}

/* Page 4 and Page 5  */

#page4{
    width: 100%;
    height: 60vh;
    background-color: #EFEAE3;
}
#page5{
    width: 100%;
    height: 100vh;
}

#footer{
   position: fixed;
   color: #EFEAE3;
   z-index: 14; 
   bottom: 0;
   min-height: 110vh;
   width: 100%;
   background-color: #000;
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
}
/* Animation Colour  */
#footer #col-animation .col-anm{
    width: 20vw;
    height: 20vw;
    background-color: #FE320A;
    border-radius: 50%;
    position: absolute;
    top: 5vw;
    z-index: 13;
    
}
#footer #col-animation #col-anm0{
    left: -3%;
    top: 7%;
    filter: blur(25px);
    animation-name: footer-animation;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#footer #col-animation #col-anm1{
    left: 7%;
    top: 8%;
    filter: blur(25px);
    animation-name: footer-animation;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#footer #col-animation #col-anm2{
    left: 9%;
    top: 4%;
    filter: blur(25px);
    animation-name: footer-animation;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#footer #col-animation #col-anm3{
    left: 25%;
    top: -2%;
    filter: blur(25px);
    animation-name: footer-animation;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#footer #col-animation #col-anm4{
    left: 38%;
    top: 7%;
    filter: blur(25px);
    animation-name: footer-animation;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#footer #col-animation #col-anm5{
    left: 52%;
    top: 4%;
    filter: blur(25px);
    animation-name: footer-animation;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#footer #col-animation #col-anm6{
    left: 68%;
    top: 5%;
    filter: blur(25px);
    animation-name: footer-animation;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#footer #col-animation #col-anm7{
    left: 85%;
    top: 8%;
    filter: blur(25px);
    animation-name: footer-animation;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#footer #col-animation #col-anm8{
    left: 85%;
    top: 29%;
    filter: blur(25px);
    animation-name: footer-animation;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#footer #col-animation #col-anm9{
    left: 75%;
    top: 8%;
    filter: blur(25px);
    animation-name: footer-animation;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes footer-animation{
   from{
    transform: translate(-10%,-10%) skew(0);
   }
   to{
    transform: translate(15%,10%) skew(20deg);
   }
}


#footer #header-top{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 14;
}
#footer #header-top ul li{
 list-style: none;
 font-size: 2vw;
}
#footer #header-top #mail p{
   font-size: 1vw;
   margin-bottom: 15px;
}
#footer #header-top #mail input{
    border: none;
    outline: none;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 1vw;
    border-bottom: 1px solid #fff;
}


#footer h1{
    font-size: 23vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom:1px solid #fff ;
    padding: 0 2vw;
    z-index: 14;
}
#footer #footer-bottom{
    z-index: 14;
}
#footer #footer-bottom ul{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16vw;
    padding: 2vw 0;
    cursor: pointer;
    position: relative;
    z-index: 50;
}
#footer #footer-bottom ul li{
    font-size: 25px;
    cursor: pointer;
    list-style: none;
   
}