*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#page1{
    width: 100%;
    height: 100%;
    background-color: yellow;
}
#page2{
    width: 100%;
    height: 100%;
    background-color: orange;
    display: flex;
    justify-content: center;
   
}
#page2 img{
    width: 20%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
#page3{
    width: 100%;
    height: 100%;
    background-color: orangered;
}